body {
    background-color: rgb(83, 128, 241);
}

#container {
    background-color: rgb(255, 106, 14);
    width: 1200px;
    margin: 20px;
    border: 2px sandybrown;
    padding: 20px;
}

#banner {
    width: 100%;
}

.heading_style {
    text-shadow: 2px 2px 2px #019dbc;
}
img {
    display: block;
    margin: 0 auto;
    width: 1000px;
}

nav {
    text-align: center;
    margin: 20px 0;
    background-color: aqua;  
}

nav ul {
    list-style: none;
    padding: 0;
}

nav li {
    display: inline-block;
}

nav li a {
    display: block;
    color: rgb(5, 6, 0);
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    margin: 0 20px;
    width: 125px;
    height: 40px;
    line-height: 40px;
}
img {
    display: block;
    margin: 0 auto;
    width: 900px;
}