/* Global Styles */

body {
  background-color: #132112;
}

img {
  display: block;
  margin: 0 auto;
  width: 100%;
}

#container {
  background-color: #99CAE9;
  border-radius: 30px;
  padding: 273px;
  border: 2px solid rgb(79 185 227);
}

/* Mobile Styles */

@media (min-width: 320px) {
  nav {
      background-color: #eedd9c;
      padding: 15px;
      margin-top: 15px;
      text-align: center;
  }

  nav ul {
      list-style: none;
      padding: 0;
  }
  
  nav li {
      display: block;
  }

  nav li a {
      display: block;
      height: 30px;
      background-color: #8D9BA6;
      color: rgb(37, 92, 141);
      font-size: 24px;
      text-decoration: none;
      margin-top: 20px;
      font-weight: bold;
  }

  nav li a:hover {
      background-color: #ba8d12;
  }
      
  main {
      padding: 20px;
  }

  h1, h2, h3 {
         text-align: center;
         color: #927A3E;
         text-shadow: 1px 1px 1px #604B14;
  }

  footer {
      text-align: center;
  }

}

/* Tablet Styles*/

@media (min-width: 768px) {
  nav li {
      display: inline-block;
  }

  nav li a {
      width: 150px;
      height: 50px;
      line-height: 50px;
      margin: 25px;
  }
}

/* Desktop Styles*/

@media (min-width: 1024px) {
  #container {
      width: 65%;
      margin: 20px auto;
      border: 4px solid black;
      border-radius: 100px;
  }

  #headerContent {
    width: 100%;
    height: 80%;
    overflow: hidden;
}
video {
    position: inherit;
    min-width: 100%;
    overflow: hidden;
    z-index: -1;
}

  nav {
      padding: 20px;
      margin: 10px;
  }

  nav li a {
      background-color: rgb(205, 72, 6);
  }

  hr {
      display: none;
  }

  #multi_col {
      display: flex;
  }

  .col {
      margin: 20px;
      padding: 20px;
      border: 2px solid black;
  }
}