body {
    background-color: rgb(83, 128, 241);
}

#container {
    background-color: white;
    width: 1200px;
    margin: 20px;
    border: 2px sandybrown;
    padding: 20px;
}

img {
    display: block;
    margin: 0 auto;
    width: 1000px;
}

nav {
    text-align: center;
    margin: 20px 0;
}

img {
    display: block;
    margin: 0 auto;
    width: 1000px;
}